{% extends "base.html" %}
{%load static %}
{% load filter_tags %}
{% block titulo %}
Noticia - Caos News
{% endblock titulo%}
{% block css %}

<link rel="stylesheet" href="{% static 'css/articulo.css' %}">
{% endblock css %}
{% block contenido %}
<!-- Contenido -->
<div class="container" style="margin-top: 15px;">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'indx' %}">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{noticia.categoria}}</li>
        </ol>
    </nav>
    <div class="bg-image" style="background-image: url({{noticia.portada.url}});">
    </div>
    <div class="container">
        <div id="article">
            <div class="row aligns-items-center justify-content-center">
                <div class="col-sm-6 col-md-8">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active fw-bold" aria-current="page" href="#">{{noticia.categoria}}</a>
                        </li>
                    </ul>
                    <h1 class="mb-3 h2 text-center fw-bolder text-danger">{{noticia.titulo}}</h1>
                </div>
                <div class="row creditos">
                    <div class="col d-flex justify-content-between ">
                        <span class="periodista d-flex justify-content-start fw-bold">Por {{noticia.autor}} | {{noticia.ubicacion}}</span>
                       
                        <div class="redes-sociales">
                            <ul class="d-flex justify-content-start">
                                <li><a href="" class="me-4 fs-4 text-reset icon-facebook"></a></li>
                                <li><a href="" class="me-4 fs-4 text-reset icon-twitter"></a></li>
                                <li><a href="" class="me-4 fs-4 text-reset icon-instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="fecha mb-2">
                        <span class="fw-light">{{noticia.fecha | date:'d b. Y' }}</span>
                    </div>
                </div>
            </div>
            <!-- contenido de la nota -->
            <div class="contenido-nota">
                {{noticia.contenido | safe}}
            </div>
            <!-- Ver más -->
            <div class="card">
                <h5 class="card-header text-center bg-dark text-white"><i class="icon-glasses text-warning"></i>
                    Leer más de</h5>
                <div class="card-body text-center">
                    {% with noticia.etiquetas|split:"," as tags %}
                    {% for tag in tags %}
                    <button type="button" class="btn btn-outline-danger">{{tag}}</button>
                    {% endfor %}
                    {% endwith %}
                </div>
            </div>

        </div>
    </div>
</div>
</div>
{% endblock contenido %}