{% extends "base.html" %}
{% load static %}
{% block titulo %}
Formulario de Publicación de Noticias - Caos News
{% endblock titulo %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/escribir.css' %}">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock css%}
{% block script %}
<!-- Tiny MC -->
<script src="https://cdn.tiny.cloud/1/8l8m0j6ztkpaf38bwic7ipvi8ioyez7mb801f53jk8ik7ygw/tinymce/6/tinymce.min.js"
    referrerpolicy="origin"></script>
{% endblock script %}


{% block contenido %}
<!-- Contenido -->
<div class="container border border-bottom-0">
    <form action="" id="formulario"  class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="top p-4">
            <h1 class="text-center  titulo-web shadow ">Escritura de Artículo</h1>
        </div>
        <!-- Formulario -->
        <div class="form-group">
            <div class="mb-1">
                <label for="exampleFormControlInput1" class="form-label">Título</label>
                <input type="text" class="form-control" id="titulo" required>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Imagen de Portada</label>
                <input class="form-control" type="file" id="formFile" required>
            </div>
            <!-- Selectores -->
            <div class="col-sm-6 col-md-5 col-lg-2" style="margin-bottom: 20px;">
                <select class="form-select " required aria-label="select example" id="categoria">
                    <option value="">Categoría</option>
                    <option value="1">Mundo</option>
                    <option value="2">Política</option>
                    <option value="3">Nacional</option>
                    <option value="3">Deportes</option>
                </select>
                <div class="invalid-feedback">Escoge una categoría</div>
            </div>
            <!-- TinyMCE -->
            <div>
                <textarea placeholder="Inserte su texto aquí...">
                     </textarea>
                <div id="character_count"></div>
                <div class=" error invalid-feedback hide">
                    Please choose a username.
                </div>

            </div>
            <!-- Fin TinyMCE -->
        </div>
        <div class="mb-3 py-3">
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">#</span>
                <input type="text" class="form-control" id="validationCustomTags" aria-describedby="inputGroupPrepend"
                    required>
                <div class="invalid-feedback">
                    Por favor, añada etiquetas.
                </div>
            </div>
        </div>
        <!-- Selectores -->
        <div class="row justify-content-end" style="margin-bottom: 40px;">
            <div class="row justify-content-end py-3">
                <div class="col-sm-6 col-md-5 col-lg-1">
                    <button type="submit" id="submit" class="btn btn-danger">Subir</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()

                }
                form.classList.add('was-validated')

                if (form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                    //alert("Formulario enviado")
                    Swal.fire({
                        title: '¡Enviado!',
                        text: 'El formulario ha sido enviado',
                        icon: 'success',
                        confirmButtonText: 'Aceptar'
                    })
                }
            }, false)
        })
    })()
</script>
{% endblock contenido %}

{% block script_final %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="{% static 'js/escribir.js' %}"></script>
{% endblock script_final %}