{% extends "base.html" %}
{% load static %}
{% block titulo %}
Formulario de Publicación de Noticias - Caos News
{% endblock titulo %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/escribir.css' %}">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
{% endblock css%}
{% block script %}
<!-- Tiny MC -->
<script src="https://cdn.tiny.cloud/1/8l8m0j6ztkpaf38bwic7ipvi8ioyez7mb801f53jk8ik7ygw/tinymce/6/tinymce.min.js"
    referrerpolicy="origin"></script>
{% endblock script %}


{% block contenido %}
<!-- Contenido -->
<div class="container border border-bottom-0">
    <form action="{% url 'escr' %}" name="formulario" id="formulario" method="post" enctype="multipart/form-data"
        class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="top p-4">
            <h1 class="text-center titulo-web shadow">Escritura de Artículo</h1>
        </div>
        <!-- Formulario -->
        <div class="form-group">
            <div class="mb-1">
                <label for="exampleFormControlInput1" class="form-label">Título</label>
                <input type="text" name="txtTitulo" class="form-control" id="titulo" required>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Imagen de Portada</label>
                <!--Para aceptar todo tipo de imagenes: accept="image/*"-->
                <input class="form-control" name="txtImagen" type="file" accept="image/png, image/jpeg, image/jpg"
                    id="txtImagen" required>
            </div>
            <!-- Selectores -->
            <div class="row">
                <div class="col-sm-6 col-md-5 col-lg-2" style="margin-bottom: 20px;">
                    <select class="form-select" name="cboCategoria" id="cboCategoria" required
                        aria-label="select example" id="categoria">
                        <option value="">Categoría</option>
                        {% for reg in items %}
                        <option value="{{reg.nombre}}">{{reg.nombre}}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback">Escoge una categoría</div>
                </div>
                <!-- Ubicación -->
                <div class="col-sm-6 col-md-5 col-lg-2" style="margin-bottom: 20px;">
                    <select class="form-select" name="cboUbicacion" id="cboUbicacion" required
                        aria-label="select example" id="ubicacion">
                        <option value="">Ubicación</option>
                        {% for ub in u_items %}
                        <option value="{{ub.nombre_region}}">{{ub.nombre_region}}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback">Escoge una ubicación</div>
                </div>
            </div>
            <!-- TinyMCE -->
            <div>
                <textarea id="tinyeditor" name="txtNoticia" placeholder="Inserte su texto aquí...">
                </textarea>
            </div>
            <!-- Fin TinyMCE -->
        </div>
        <div class="mb-3 py-3">
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">#</span>
                <input type="text" class="form-control" name="txtTags" id="txtTags" aria-describedby="inputGroupPrepend"
                    required>
                <div class="invalid-feedback">
                    Por favor, añada etiquetas.
                </div>
            </div>
        </div>
        <!-- Selectores -->
        <div class="row justify-content-end" style="margin-bottom: 40px;">
            <div class="row justify-content-end py-3">
                <div class="col-sm-6 col-md-5 col-lg-1">
                    <button type="submit" id="submit" class="btn btn-danger">Subir</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $("#submit").click(function () {
        var editorContent = tinyMCE.get('tinyeditor').getContent();
        if (editorContent == '' || editorContent <= 10) {
            Swal.fire({
                title: 'Error',
                text: 'El contenido del artículo debe ser mayor a 10 caracteres',
                icon: 'error',
                confirmButtonText: 'Aceptar'
            })
            tinyMCE.activeEditor.focus();
            return false;
        }
        else {
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.prototype.slice.call(forms)
                    .forEach(function (form) {
                        form.addEventListener('submit', function (event) {
                            if (!form.checkValidity()) {
                                event.preventDefault()
                                event.stopPropagation()
                            }
                            form.classList.add('was-validated')
                            if (form.checkValidity()) {
                                Swal.fire({
                                    title: '¿Está seguro de continuar?',
                                    text: "Luego de enviar el artículo, no podrá editarlo.",
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Estoy seguro'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        $.ajax({
                                            type: "POST",
                                            url: "{% url 'escr' %}",
                                            enctype: "multipart/form-data",
                                            data: $("#formulario").serialize(),
                                            success: function (data) {
                                                Swal.fire({
                                                    icon: 'success',
                                                    title: '¡Enviado!',
                                                    text: "Tu artículo sera revisado por nuestros administradores. Te avisaremos cuando llegue el resultado.",
                                                    showConfirmButton: false,

                                                })
                                            }
                                        }).then(function () {
                                            event.preventDefault()
                                            event.stopPropagation()
                                            form.classList.add('was-validated')
                                            location.reload(true);
                                            console.log(data)
                                        })
                                    }
                                });
                                console.log(data)
                            }
                        }, false)
                    })
            })()
        }
    })
</script>
{% endblock contenido %}

{% block script_final %}

<script src="{% static 'js/escribir.js' %}"></script>
{% endblock script_final %}