{% extends "base.html" %}
{%load static %}
{% block titulo %}
Caos News
{% endblock titulo%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}">
<script src="{% static 'js/jquery.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}
{% block contenido %}
<!-- Carrusel -->
<div class="col-12 col-sm-12 col-lg-12">
  <div class="top">
    <div class="container border border-bottom-0">
      <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel" style="height: 100%;">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          {% for reg in noticias %}
          <div {% if forloop.first %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
            <img src="{{reg.portada.url}}" class="d-block w-100 h-50" alt="{{reg.titulo}}">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="text-danger fs-4 fw-bold shadow-lg p-3 mb-5 bg-body rounded">{{reg.titulo}}</h5>
              <button class="btn btn-danger" onclick="ir({{reg.id}})">Ver Más</button>
            </div>
          </div>
          {% endfor %}
          <script>
            function ir(id){
              location.href='/articulo/'+id+'/';
            }
          </script>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Fin Carrusel -->
<div class="container border border-top-0 py-3">
  <div class="row justify-content-center" id="gael">
    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="btn btn-danger mb-2" id="DolarO"></div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="btn btn-danger mb-2" id="UTF"></div>
    </div>
  </div>
</div>
<!-- Cards -->
<div class="container border border-top-0" id="contenido">
  <!-- Artículos -->
  <div class="card-header h2 text-uppercase text-decoration-underline text-center p-3">Nacional</div>
  <div class="owl-carousel owl-theme">
    {% for reg in noticiasN %}
    <div class="item" style="text-decoration: none !important;">
      <div class="card h-100 border-0">
        <img src="{{reg.portada.url}}" alt="" class="card-img-top">
      </div>
      <div class="card-body">
        <a onclick="ir({{reg.id}})">
          <h5 class="card-title fs-6 text fw-normal text-center text-dark">{{reg.titulo}}</h5>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- Card Horizontal -->
  <h2 class="h2 text-uppercase text-decoration-underline text-center p-3">Deportes</h2>
  <div class="row justify-content-center"
    style="padding-top: 20px; padding-bottom: 50px; margin-left: 5%; margin-right: 5%;">
    <div class="card border-0 rounded-0" style="max-width: 100%;">
      <div class="row g-0">
        <div class="col-sm-5">
          <img src="{{notDeporte.portada.url}}" class="img-fluid rounded-0" alt="...">
        </div>
        <div class="col-sm-7" id="hCard">
          <div class="card-body">
            <h5 class="card-title">{{notDeporte.titulo}}</h5>
            <p class="card-text"><small class="text-muted">Por {{notDeporte.autor}}</small></p>
            <p class="card-text text-justify text-dark">{{notDeporte.contenido |truncatechars:350 | striptags }}</p>
            <a onclick="ir({{notDeporte.id}})" class="btn btn-primary stretched-link">Ver más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
{% block script_final %}
<!-- <script>
  fetch('https://mindicador.cl/api').then(function (response) {
    return response.json();
  }).then(function (dailyIndicators) {
    document.getElementById("DolarO").innerHTML = 'El valor actual del Dólar observado es $' + dailyIndicators.dolar.valor;
  }).catch(function (error) {
    console.log('Requestfailed', error);
  });
</script> -->
<script>
  $(document).ready(function () {
    $(".owl-carousel").owlCarousel({
      merge: true,
      loop: true,
      margin: 10,
      nav: false,
      center: true,
      autoplay: true,
      autoplayTimeout: 1000,
      autoplayHoverPause: true,
      stagePadding: 50,
      responsive: {
        0: {
          items: 2
        },
        600: {
          items: 3
        },
        1000: {
          items: 5
        }
      }
    });
  });
</script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock script_final %}