#iniciarSesion {
    margin-right: 15px;
}

* {
    font-family: "Fira Sans", sans-serif;
}

#carouselExampleCaptions .carousel-item img {
    margin-top: 15px;
    object-fit: cover;
    object-position: center;
    /* height: 70vh; */
    overflow: hidden;
}

a {
    text-decoration: none !important;
}

.titulo-web{
    font-weight: 900;
    text-shadow:  2px 2px 2px #bdb8b885;
    color: rgb(39, 39, 39);
    background: #eb4555;
    border-radius: 0.5rem;
    padding: 1rem;
}
.asteriskField {
    display: none;
}