{% extends "base.html" %}
{% load socialaccount %}
{% providers_media_js %}
{%load static %}
{% block titulo %}
Registrarse - Caos News
{% endblock titulo %}
{%block css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
 <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" id="theme-styles">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock css%}
{% block contenido %}
{% load crispy_forms_tags %}
<!-- Formulario -->
<div class="container-fluid ps-md-0">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Registro</h3>
                            <!-- Sign Up-->
                            <form action="" method="post" class="needs-validation" novalidate>
                                {% csrf_token %}
                                {{ form | crispy}}
                                <div class="col-12">
                                    <div class="form-check" style="margin-bottom: 15px;">
                                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2"
                                            required>
                                        <label class="form-check-label" for="invalidCheck2">
                                            Acepto las <a href="{% url 'terms' %}">Condiciones del servicio y
                                                Política
                                                de privacidad</a> de Caos News
                                        </label>
                                    </div>
                                    <div class="d-grid mb-2">
                                        <button class="btn btn-lg btn-danger btn-login fw-bold text-uppercase"
                                            type="submit">Registrarse</button>
                                    </div>

                                    <p class="d-block text-center mt-2 small">¿Tienes una cuenta? <a
                                            href="{% url 'log' %}">Inicia
                                            Sesión</a></p>

                                    <hr class="my-4">

                                    <div class="d-grid mb-2">
                                        <button
                                            class="btn btn-lg btn-google btn-login fw-bold text-uppercase text-decoration-none"
                                            type="submit" style="color: white;">
                                            <i class="icon-google me-2"></i><a
                                                href="{% provider_login_url 'google' method = 'oauth2' %}"
                                                style="color: white;">Entrar Con Google</a>
                                        </button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if messages %}
    {% for m in messages %}
        <script>
            Swal.fire({
                    title: 'Felicitaciones',
                    text: "{{m}}",
                    icon: 'success',
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'Gracias'
                })
        </script>
    {% endfor%}
{% endif %}
{% endblock contenido %}