{% extends "panel/basePanel.html" %}
{%load static %}
{% block titulo %}
Panel Administrativo - Caos News
{% endblock titulo%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}">
<script src="{% static 'js/jquery.min.js' %}"></script>
{% endblock css %}
{% block contenido %}
<!-- Contenido -->
<div id="content" class="container-fluid">
    <section class="py-3">
        <div class="row">
            <div class="col-lg-8 ps-5">
                <h1 class="fw-bold mb-0">Bienvenido, {{user.first_name}} </h1>
                <p class="lead text-muted">Revisa la última información</p>
            </div>
            <div class="col-lg-2 d-flex">
                <button class="btn btn-danger w-100 align-self-center">Descargar reporte</button>
            </div>
        </div>
    </section>
    <section class="bg-mix ">
        <div class="card rounded-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2 col-md-6 d-flex stat my-3">
                        <div class="mx-auto">
                            <h6 class="text-muted">Visitas mensuales</h6>
                            <h3 class="fw-bold">100</h3>
                            <h6 class="text-success fw-light"><i
                                    class="fa-solid fa-circle-chevron-up fa-sm me-2"></i>50%</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex stat my-3">
                        <div class="mx-auto">
                            <h6 class="text-muted">Artículos escritos</h6>
                            <h3 class="fw-bold">{{cantidadNoticias}}</h3>
                            {% comment %} <h6 class="text-success fw-light"><i
                                    class="fa-solid fa-circle-chevron-up fa-sm me-2"></i>30%</h6> {% endcomment %}
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex stat my-3">
                        <div class="mx-auto">
                            <h6 class="text-muted">Artículos aprobados</h6>
                            <h3 class="fw-bold">{{cantidadNoticiasAprobadas}}</h3>
                            <h6 class="text-success fw-light"><i
                                    class="fa-solid fa-circle-chevron-up fa-sm me-2"></i>{{porcentaje}}%</h6>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex my-3">
                        <div class="mx-auto">
                            <h6 class="text-muted">Artículos Destacados</h6>
                            <h3 class="fw-bold">458</h3>
                            <h6 class="text-success fw-light"><i
                                    class="fa-solid fa-circle-chevron-up fa-sm me-2"></i>10%</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-gris">
        <div class="row">
            <div class="col-lg-8 col-md-4 my-3">
                <div class="card rounded-0">
                    <div class="card-header bg-light">
                        <h6 class="fw-bold mb-0">Gráfica de visitas a sus artículos</h6>
                    </div>
                    <div class="card-body">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
            {% for group in user.groups.all %}
            {% if group.name == 'Periodista' %}
            <div class="col-lg-4 col-md-4 my-3">
                <div class="card rounded-0">
                    <div class="card-header bg-light">
                        <h6 class="fw-bold mb-0">Publicaciones no aprobadas</h6>
                    </div>
                    <div class="card-body pt-2">
                        <div class="border-bottom py-2">
                            {% if cantidad > 0 %}
                            <ul class="list-group pb-2 list-group-flush">
                                {% for reg in noticias %}
                                <li class="list-group-item">{{ forloop.counter }}. {{reg.titulo}}</li>
                                {% endfor %}
                            </ul>
                            <button class="btn btn-danger w-100" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                                Ver todos los comentarios
                            </button>
                            <!-- Offcanvas -->
                            <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1"
                                id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                                <div class="offcanvas-header">
                                    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Comentarios</h5>
                                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    <p>
                                    <div class="btn-group-vertical " role="group" aria-label="Basic example">
                                        {% for reg in noticias %}
                                        <a data-bs-toggle="collapse"
                                            data-bs-target="#multiCollapseExample{{ forloop.counter }}"
                                            aria-expanded="false"
                                            aria-controls="multiCollapseExample{{ forloop.counter }}">
                                            <button type="button" class="btn btn-warning mb-2" type="button"
                                                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true"
                                                title=" <u>Publicación hecha el:</u> <b>{{reg.fecha |date:"SHORT_DATE_FORMAT"}}</b>">{{reg.titulo}}</button>
                                        </a>
                                        </p>

                                        <div class="row">
                                            <div class="col">
                                                <div class="collapse multi-collapse"
                                                    id="multiCollapseExample{{ forloop.counter }}">
                                                    <div class="card card-body mb-2 my-0">
                                                        {{reg.comentario}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- OffCanvas -->


                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>


        <!-- Artículos -->
        <div class="articulos">
            <div class="container">
                <h6 class="card-header text-center mb-4 fw-bold">Artículos No Publicados</h6>
                <div class="owl-carousel owl-theme">
                    {% for reg in noticias%}
                    <div class="item">
                        <div class="card">
                            <img src="{{reg.portada.url}}" alt="" class="img-responsive">
                        </div>
                        <div class="card-body">
                            <h5 class="card-text fs-6 text fw-normal text-center">{{reg.titulo}}</h5>
                        </div>
                    </div>
                    {% empty %}
                    <h5 class="card-text fs-6 text fw-normal text-center">No tienes artículos no publicados</h5>
                    {% endfor %}
                    <div></div>
                </div>
            </div>

        </div>

    </section>



</div>

<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
            merge: true,
            loop: true,
            margin: 1,
            nav: false,
            center: true,
            autoplay: true,
            autoplayTimeout: 1000,
            autoplayHoverPause: true,
            stagePadding: 50,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        });
    });
</script>
{% endblock contenido %}
{% block script_final %}
<script>
    var endpoint = '/api/noticias/'
    const labels = [
        'Enero',
        'Febrero',
        'Marzo',
        'Abril',
        'Mayo',
        'Junio',
    ];

    const data = {
        labels: labels,
        datasets: [{
            label: 'Visitas',
            backgroundColor: [
                '#DC3545',
                '#DC3545',
                '#DC3545',
                '#DC3545',
                '#EA868F',
                '#DC3545',
            ],
            borderColor: 'rgb(255, 99, 132)',
            data: [50, 100, 105, 125, 107, 180, 200],
        }]
    };

    const config = {
        type: 'bar',
        data: data,
        options: {
            font: {
                family: "Fira Sans",
            },
        }
    };
</script>
<script>
    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );

    document.addEventListener("DOMContentLoaded", function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (element) {
            return new bootstrap.Tooltip(element);
        });
    });
</script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
{% endblock script_final %}