{% extends "panel/basePanel.html" %}
{%load static %}
{% block titulo %}
Panel Administrativo - Caos News
{% endblock titulo%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}">
<script src="{% static 'js/jquery.min.js' %}"></script>
{% endblock css %}
{% block contenido %}
<!-- Contenido -->
<div id="content">
    <section class="py-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 ps-5">
                    <h1 class="fw-bold mb-0">Bienvenido, {{user.first_name}} </h1>
                    <p class="lead text-muted">Revisa la última información</p>
                </div>
                <div class="col-lg-2 d-flex">
                    <button class="btn btn-danger w-100 align-self-center">Descargar reporte</button>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-mix">
        <div class="container">
            <div class="card rounded-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 d-flex stat my-3">
                            <div class="mx-auto">
                                <h6 class="text-muted">Visitas mensuales</h6>
                                <h3 class="fw-bold">100</h3>
                                <h6 class="text-success fw-light"><i
                                        class="fa-solid fa-circle-chevron-up fa-sm me-2"></i>50%</h6>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 d-flex stat my-3">
                            <div class="mx-auto">
                                <h6 class="text-muted">Artículos escritos</h6>
                                <h3 class="fw-bold">{{cantidadNoticias}}</h3>
                                {% comment %} <h6 class="text-success fw-light"><i
                                        class="fa-solid fa-circle-chevron-up fa-sm me-2"></i>30%</h6> {% endcomment %}
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 d-flex stat my-3">
                            <div class="mx-auto">
                                <h6 class="text-muted">Artículos aprobados</h6>
                                <h3 class="fw-bold">{{cantidadNoticiasAprobadas}}</h3>
                                <h6 class="text-success fw-light"><i
                                        class="fa-solid fa-circle-chevron-up fa-sm me-2"></i>{{porcentaje}}%</h6>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 d-flex my-3">
                            <div class="mx-auto">
                                <h6 class="text-muted">Artículos Destacdos</h6>
                                <h3 class="fw-bold">458</h3>
                                <h6 class="text-success fw-light"><i
                                        class="fa-solid fa-circle-chevron-up fa-sm me-2"></i>10%</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-gris">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 my-3">
                    <div class="card rounded-0">
                        <div class="card-header bg-light">
                            <h6 class="fw-bold mb-0">Gráfica de visitas a sus artículos</h6>
                        </div>
                        <div class="card-body">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 my-3">
                    <div class="card rounded-0">
                        <div class="card-header bg-light">
                            <h6 class="fw-bold mb-0">Notificaciones</h6>
                        </div>
                        <div class="card-body pt-2">
                            <div class="d-flex border-bottom py-2">
                                <div class="me-3 d-flex">
                                    <h2 class="mb-0 align-self-center"><i class="fa-solid fa-square-envelope"></i></h2>
                                </div>
                                <div class="align-self-center">
                                    <h6 class="d-inline-block mb-0">Nuevo Mensaje</h6><span
                                        class="badge bg-danger ms-2">Importante</span>
                                    <small class="d-block text-muted">De Federico Sutil</small>
                                </div>
                            </div>
                            <div class="d-flex border-bottom py-2">
                                <div class="me-3 d-flex">
                                    <h2 class="mb-0 align-self-center"><i class="fa-solid fa-thumbs-up"></i>
                                    </h2>
                                </div>
                                <div class="align-self-center">
                                    <h6 class="d-inline-block mb-0">Artículo Aprobado</h6><span
                                        class="badge bg-primary ms-2">¡Bien hecho!</span>
                                    <small class="d-block text-muted">Tu artículo fue aprobado</small>
                                </div>
                            </div>
                            <div class="d-flex border-bottom py-2">
                                <div class="me-3 d-flex">
                                    <h2 class="mb-0 align-self-center"><i class="fa-solid fa-thumbs-down"></i>
                                    </h2>
                                </div>
                                <div class="align-self-center">
                                    <h6 class="d-inline-block mb-0">Artículo Desaprobado</h6><span
                                        class="badge bg-danger ms-2">Importante</span>
                                    <small class="d-block text-muted">Tu artículo no logró ser
                                        aprobado</small>
                                </div>
                            </div>
                            <div class="d-flex border-bottom py-2 mb-3">
                                <div class="me-3 d-flex">
                                    <h2 class="mb-0 align-self-center"><i class="fa-solid fa-square-pen"></i>
                                    </h2>
                                </div>
                                <div class="align-self-center">
                                    <h6 class="d-inline-block mb-0">Corrección Necesaria</h6><span
                                        class="badge bg-warning ms-2">Importante</span>
                                    <small class="d-block text-muted">Se necesitan mejoras en tu
                                        artículo</small>
                                </div>
                            </div>
                            <button class="btn btn-danger w-100">
                                Ver todas las notificaciones
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Artículos -->
        <div class="articulos">
            <div class="container">
                <h6 class="card-header text-center mb-4 fw-bold">Artículos No Publicados</h6>
                <div class="owl-carousel owl-theme">
                    {% for reg in noticias%}
                    <div class="item">
                        <div class="card">
                            <img src="{{reg.portada.url}}" alt="" class="img-responsive">
                        </div>
                        <div class="card-body">
                            <h5 class="card-text fs-6 text fw-normal text-center">{{reg.titulo}}</h5>
                        </div>
                    </div>
                    {% endfor %}
                    <div></div>
                </div>
            </div>
    
        </div>

    </section>

    

</div>

<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
            merge:true,
            loop: true,
            margin: 1,
            nav: false,
            center: true,
            autoplay: true,
            autoplayTimeout: 1000,
            autoplayHoverPause: true,
            stagePadding: 50,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        });
    });
</script>
{% endblock contenido %}
{% block script_final %}
<script>
    const labels = [
        'Enero',
        'Febrero',
        'Marzo',
        'Abril',
        'Mayo',
        'Junio',
    ];

    const data = {
        labels: labels,
        datasets: [{
            label: 'Visitas',
            backgroundColor: [
                '#DC3545',
                '#DC3545',
                '#DC3545',
                '#DC3545',
                '#EA868F',
                '#DC3545',
            ],
            borderColor: 'rgb(255, 99, 132)',
            data: [50, 100, 105, 125, 107, 180, 200],
        }]
    };

    const config = {
        type: 'bar',
        data: data,
        options: {
            font: {
                family: "Fira Sans",
            },
        }
    };
</script>
<script>
    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
{% endblock script_final %}